#extraBoundaryPopupContent {
  height: 200px;
}

#copyableHtmlConfigDiv{
  height: 100vh;
  float: left;
}

#copyableHtmlConfigDiv form{
  height: 100%;
  overflow: auto;
}

#copyableHtmlConfigDiv form .list-group{
  height: 100%;
}

#copyableHtmlDiv {
  float: right;
  height: 100vh;
}

#copyableHtmlDiv .form-group {
  height: 90vh;
}

#copyableHtmlDiv .form-group div{
  height: 100%;
}

#copyableHtmlDiv .form-group div textarea{
  height: 100%;
}

.App.row {
  display: inline;
}